* text=auto eol=lf

*.php text eol=lf
*.md text eol=lf
*.json text eol=lf

/tests export-ignore
/.github export-ignore
/.idea export-ignore
/.artifacts export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/payping-docs*.md export-ignore
